@charset "UTF-8";

/* ----------------------------------------------------------
  Base theme
---------------------------------------------------------- */

.fakeselect--demo {
    border: 1px solid #e0e0e0;
    text-align: left;
    font: 12px sans-serif;
    line-height: 2;
    background-color: #f0f0f0;
}

.fakeselect--demo,
.fakeselect--demo * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fakeselect--demo .fakeselect-cover {
    padding: 0 0.5em;
    padding-right: 3em;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.fakeselect--demo .fakeselect-cover:after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 1em;
    bottom: 0;
    width: 0;
    height: 0;
    margin: auto;
    border: 5px solid transparent;
    border-top: 5px solid #333;
}

.fakeselect--demo .fakeselect-list,
.fakeselect--demo .fakeselect-list {
    font: inherit;
}

.fakeselect--demo .fakeselect-list {
    right: -1px;
    left: -1px;
    max-height: 200px;
    border: 1px solid #e0e0e0;
    border-top: 0;
    overflow: auto;
    background-color: #f0f0f0;
}

.fakeselect--demo .fakeselect-list li {
    padding: 0 0.5em;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.fakeselect--demo .fakeselect-list li[data-current="1"],
.fakeselect--demo .fakeselect-list li:hover {
    background-color: #e0e0e0;
}

.fakeselect--demo .fakeselect-list li[data-disabled="1"] {
    color: #777;
    background-color: transparent!important;
    cursor: disabled;
}
