@charset "UTF-8";

/* ----------------------------------------------------------
  Layout
---------------------------------------------------------- */

.fakeselect-wrapper {
    z-index: 1;
    position: relative;
}

.fakeselect-wrapper[aria-expanded="true"] {
    z-index: 2;
}

.fakeselect-wrapper select {
    z-index: 1;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* Cover
-------------------------- */

.fakeselect-cover {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
    text-decoration: none;
    font: inherit;
    color: inherit;
    background: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* List
-------------------------- */

.fakeselect-list {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

[aria-expanded="true"] .fakeselect-list {
    visibility: visible;
    opacity: 0.999;
}

/* Items
-------------------------- */

.fakeselect-list li[data-visible="0"] {
    display: none;
}

/* Noresults
-------------------------- */

.fakeselect-noresults {
    display: none;
    background: transparent;
}

.fakeselect-noresults[data-visible="1"] {
    display: block;
}
